.section-title {
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 30px;
@include desktop {
  font-size: 36px;
  margin-bottom: 50px;
}

}
